!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title
      ="#{@item[:title]}"
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylz/screen.css", :media => "screen"}
    %link{:rel => "stylesheet", :type => "text/css", :href =>"/stylz/print.css", :media => "print"}
    / Remaining css used as helpers (pygments, disqus)
    %link{:rel =>"stylesheet", :type => "text/css", :href => "/stylz/default.css", :media =>"screen"}
    %link{:rel =>"stylesheet", :type => "text/css", :href => "/stylz/disqus.css", :media => "screen"}
    %meta{:name =>"generator", :content => "nanoc 3.1.6"}
    %meta{:name => "description", :content => "A blog that makes a good attempt at structuring the thoughts of Braden Douglass into a digestable web-type form. Expect some posts on programming, living with humanity, and kool-aid links"}
  %body
    #main
      =yield
    #sidebar
      %img{:src=> "http://c522735.r35.cf2.rackcdn.com/cloud4.jpeg", :alt=> "cloud icon"}
      %br/
      %img{:src=> "http://c522735.r35.cf2.rackcdn.com/Bacon.png", :style=> "padding-right: 12px", :alt=> "bacon icon"}
      %br/
      %a{:href => "http://cloudbacon.com/feed.xml", :name => "rss"}
        %img{:src => "http://c522735.r35.cf2.rackcdn.com/RSSicon.png", :alt => "rss icon"}
