<h1><%= @item[:title] %></h1>
<h2>Written for: <%= @item[:created_at] %></h2>
<%= yield %>
<br />
    <p class="homeButton">filed under:
    <%= tags_for(@item, :base_url => 'http://duckduckgo.com/?q=') %> 
    </p>
    <% home = @items.find {|i| i.identifier == '/'} %>
    <p class="homeButton"><%= link_to('Back To List of Posts', home) %>
    </p>
    <div id="disqus_thread"></div>
	<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'cloudbacon'; // required: replace example with your forum shortname
    var disqus_developer = 0;
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
