%form{:method => "get", :id => "search", :action => "http://duckduckgo.com"}
  %input{:type => "hidden", :name => "sites", :value => "cloudbacon.com"}
  %input{:type => "text", :name => "q", :maxlength => "255", :placeholder => "Search Me"}
  %input{:type => "submit", :value => "DuckDuckGo Search", :style => "visibility: hidden;"}
